// ========================== ant card yakit-start ==========================

.ant-card-bordered {
  border: 1px solid var(--Colors-Use-Neutral-Border);
  border-radius: var(--Radius-Container);
  background: var(--Colors-Use-Neutral-Bg);
  overflow: hidden;
  .ant-card-head {
    border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
    color: var(--Colors-Use-Neutral-Text-1-Title);
    background-color: var(--Colors-Use-Neutral-Bg);
    .ant-card-head-title {
      color: var(--Colors-Use-Neutral-Text-1-Title);
    }
  }
}
