.ant-input,
.ant-input-affix-wrapper,
.ant-input-number,
.ant-input-number-affix-wrapper,
.ant-picker {
  border-radius: var(--Radius-Input);
}

.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper-focused,
.ant-input-number-focused,
.ant-input-number-affix-wrapper-focused,
.ant-picker-focused {
  box-shadow: 0 0 0 2px var(--Colors-Use-Main-Focus);
}

// ========================== antd input-group select - yakit start ==========================
.yakit-input-group {
  display: flex !important;

  .ant-input-affix-wrapper {
    border-radius: 0;
  }
  > :first-child {
    .ant-input-affix-wrapper {
      border-radius: var(--Radius-Input) 0 0 var(--Radius-Input);
    }
    .ant-input {
      border-radius: var(--Radius-Input) 0 0 var(--Radius-Input);
    }
  }
  > :last-child {
    .ant-input-affix-wrapper {
      border-radius: 0 var(--Radius-Input) var(--Radius-Input) 0;
    }
    .ant-input {
      border-radius: 0 var(--Radius-Input) var(--Radius-Input) 0;
    }
  }
  > *:not(:last-child) {
    margin-right: 0 !important;
  }
  .ant-select-arrow {
    // z-index: 1;
  }
  .ant-select-selector {
    border-left-width: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    &:hover,
    &:focus,
    &:active {
      border-left-width: 1px !important;
      border-top-left-radius: var(--Radius-Input) !important;
      border-bottom-left-radius: var(--Radius-Input) !important;
    }
  }
  .ant-select-focused {
    .ant-select-selector {
      // z-index: 1;
      border-left-width: 1px !important;
      border-top-left-radius: var(--Radius-Input) !important;
      border-bottom-left-radius: var(--Radius-Input) !important;
    }
  }
  .ant-select-open {
    .ant-select-selector {
      // z-index: 1;
      border-left-width: 1px !important;
      border-top-left-radius: var(--Radius-Input) !important;
      border-bottom-left-radius: var(--Radius-Input) !important;
    }
  }
}
// ========================== antd input-group select - yakit end ==========================
.ant-input {
  color: var(--Colors-Use-Neutral-Text-1-Title);
}
