@use '../HTTPFuzzerPageShare.module.scss' as HTTPFuzzerPageShare;
// --------------------- start-----------------------
.web-fuzzer {
  @extend .display-flex-center;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1;
  overflow: hidden;
  .web-fuzzer-tab {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    border-right: 0;
    border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
    background: var(--Colors-Use-Neutral-Bg-Hover);
    width: 100%;
    height: 32px;
    overflow-x: auto;
    overflow-y: hidden;
    svg {
      width: 16px;
      height: 16px;
      color: var(--Colors-Use-Neutral-Text-3-Secondary);
    }
    &-item {
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      padding: 8px 12px;
      gap: 4px;
      height: 32px;
      color: var(--Colors-Use-Neutral-Text-1-Title);
      cursor: pointer;
      border-right: 1px solid var(--Colors-Use-Neutral-Border);
      &:hover {
        background-color: var(--Colors-Use-Neutral-Border);
      }
    }
    &-item-active {
      color: var(--Colors-Use-Main-On-Primary);
      background-color: var(--Colors-Use-Main-Primary);
      &:hover {
        background-color: var(--Colors-Use-Main-Hover);
        color: var(--Colors-Use-Main-On-Primary);
        svg {
          color: var(--Colors-Use-Main-On-Primary);
        }
      }
      svg {
        color: var(--Colors-Use-Main-On-Primary);
      }
    }
    &-item-active-sequence {
      color: var(--Colors-Use-Main-On-Primary);
      background-color: var(--Colors-Use-Main-Primary);
      &:hover {
        background-color: var(--Colors-Use-Main-Primary);
        color: var(--Colors-Use-Main-On-Primary);
        svg {
          color: var(--Colors-Use-Main-On-Primary);
        }
      }
      svg {
        color: var(--Colors-Use-Main-On-Primary);
      }
    }
    &-item-advanced-config-unShow {
      color: var(--Colors-Use-Neutral-Text-1-Title);
      background-color: var(--Colors-Use-Neutral-Text-4-Help-text);
      svg {
        color: var(--Colors-Use-Neutral-Text-1-Title);
      }
    }
    &-label {
      font-weight: 600;
      line-height: 16px;
      font-size: 12px;
      white-space: nowrap;
    }
  }
  .web-fuzzer-tab-content {
    @extend .display-column-center;
    flex: 1;
    min-height: 0;
    width: 100%;
    overflow: hidden;
  }
}

.yakit-modal-content {
  @extend .display-column-center;
  gap: 24px;
  padding: 24px;
  &-heard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    &-body {
      @extend .display-column-center;
      gap: 8px;
      &-title {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        color: var(--Colors-Use-Neutral-Text-1-Title);
      }
      &-subTitle {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        &-tip {
          color: var(--Colors-Use-Neutral-Disable);
        }
      }
    }
  }
  .yakit-modal-content-body {
    display: flex;
    flex: 1;
    border-radius: 8px;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    video {
      object-fit: cover;
      border-radius: 8px;
    }
    &-video {
      width: 100%;
      position: relative;
    }
  }
  .remove-icon {
    @include HTTPFuzzerPageShare.base-icon-card;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--Colors-Use-Neutral-Text-1-Title);
  }
}
