.sentinel-child-root {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  margin: 0;
  overflow: hidden;

  .sentinel-child-titlebar {
    height: 37px;
  }

  .sentinel-child-body {
    height: calc(100% - 37px);
  }
}

.sentinel-child-risk {
  height: 100%;

  .sentinel-child-risk-details {
    flex: 1;
  }
}

.concurrent-stream-divider {
  width: 100%;
  height: 1px;
  background-color: var(--Colors-Use-Neutral-Border);
}

.concurrent-stream-wrapper {
  height: 100%;
  padding: 4px;
  background-color: var(--Colors-Use-Basic-Background);
}
