::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: var(--Radius-Pill);
  box-shadow: inset 0 0 5px var(--Colors-Use-Basic-Shadow);
  background: var(--Colors-Use-Neutral-Text-3-Secondary);
}

// ::-webkit-scrollbar-track {
//   /*滚动条里面轨道*/
//   box-shadow: inset 0 0 5px rgba(193, 193, 193);
//   border-radius: 10px;
//   background: #ededed;
// }

// ::-webkit-scrollbar-track {
//   background-color: #1e1e1e;
// }

::-webkit-scrollbar-corner {
  background-color: var(--Colors-Use-Basic-Background);
}
