@use '../securityTool.scss' as securityTool;

.brute-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.divider-style {
  @extend %divider-style;
}

.tree-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  flex-shrink: 0;
  overflow: hidden;
  border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
  padding: 10px 12px;
  :global {
    .ant-tree-switcher {
      height: 24px;
    }
    .ant-tree-list-holder-inner {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 8px 14px;
    }
    .ant-tree-treenode {
      align-items: center;
      padding: 0;
      min-width: 0;
    }
    .ant-tree-node-content-wrapper {
      min-height: 24px;
      padding: 0 4px;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .tree-heard {
    @extend %display-flex-center;
    justify-content: space-between;

    &-title {
      color: var(--Colors-Use-Neutral-Text-1-Title);
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
    }
  }
  .tree-list {
    display: flex;
    flex-shrink: 0;
    overflow: auto;
    .tree-root {
      flex: 1;
      background-color: var(--Colors-Use-Basic-Background);
      color: var(--Colors-Use-Neutral-Text-1-Title);
    }
  }
}

.tree-list-wrapper-hidden {
  display: none;
}

.brute-execute-wrapper {
  @include securityTool.execute-title('brute');
}

.brute-form-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  transition: all 0.3s ease;
  padding-top: 16px;
  :global {
    .ant-form {
      overflow: hidden;
    }
  }
  .plugin-execute-form-item {
    width: 100%;
  }
  .plugin-execute-form-operate {
    @extend %display-flex-center;
    .plugin-execute-form-operate-start {
      margin-right: 8px;
    }
  }
  .form-extra {
    @extend %display-flex-center;
    gap: 8px 0;
    flex-wrap: wrap;
  }
}
.brute-form-wrapper-hidden {
  grid-template-rows: 0fr;
  padding-top: 0;
}

.brute-execute-result-wrapper {
  // padding: 12px;
}
